@media (min-width: 1074px) {
  /* -------------------section Home partie1----------------------- */

  #partie1 .carte1 {
    width: 75%;
    margin: 0 20%;
  }
  #partie1 .carte2 {
    position: relative;
    top: -400px;
  }
  #partie1 .fresh-coffe {
    width: 450px;
    height: 300px;
  }
  #partie1 .btn {
    position: absolute;
    bottom: -35px;
    left: 120px;

    font-size: 18px;
  }
  /*--------------------- ABOUT---------------- */
  #about .para {
    width: 400px;
    height: 350px;
    margin: 0 auto;
    position: relative;
    top: -130px;
  }
  #about .h5 {
    padding-left: 20px;
    padding-top: 40px;
    font-weight: 700;
  }
  #about .h1 {
    padding-left: 20px;
    font-size: 30px;
  }
  #about .p {
    padding-top: 10px;
    padding-left: 20px;
  }
  /*----------------------------------- products1---------------------- */
  #products1 {
    margin-top: 100px;
  }
  #products1 .parti2 .card {
    width: 80%;
    margin: 0 auto;
    z-index: -1;
  }
  #products1 .img-fluid {
    width: 100%;
    height: 500px;
  }
  #products1 .parti1 .col-12 {
    display: flex;
    justify-content: end;
  }
  #products1 .parti1 .card {
    width: 500px;
    height: 200px;
    padding: 20px 0;
    position: relative;
    top: 100px;
  }
  #products1 .parti1 h5 {
    padding: 20px 20px 0 40px;
  }
  #products1 .parti1 h1 {
    padding: 0px 20px 0 40px;
  }
  #products1 .parti3 .col-12 {
    display: flex;
    justify-content: start;
  }
  #products1 .parti3 .card {
    width: 30%;
    padding: 20px 20px 0 20px;
    text-align: center;

    position: relative;
    bottom: 100px;
    z-index: 1000;
  }
  #products1 .parti3 p {
    font-size: 18px;
    font-weight: 700;
  }
  /*------------------ store----------------------- */
  #store1 .para {
    width: 400px;
    height: 350px;
    margin: 0 auto;
    position: relative;
    top: -130px;
  }
  #store1 .h5 {
    padding-left: 20px;
    padding-top: 40px;
    font-weight: 700;
  }
  #store1 .h1 {
    padding-left: 20px;
    font-size: 30px;
  }
  #store1 .p {
    padding-top: 10px;
    padding-left: 20px;
  }
}

@media (max-width: 1073px) {
  /* -------------------section Home partie1----------------------- */

  #partie1 .carte1 {
    width: 75%;
    margin: 0 20%;
  }
  #partie1 .carte2 {
    position: relative;
    top: -400px;
  }
  #partie1 .fresh-coffe {
    width: 450px;
    height: 300px;
  }
  #partie1 .btn {
    position: absolute;
    bottom: -35px;
    left: 120px;

    font-size: 18px;
  }
  /*--------------------- ABOUT---------------- */
  #about .para {
    width: 400px;
    height: 350px;
    margin: 0 auto;
    position: relative;
    top: -130px;
  }
  #about .h5 {
    padding-left: 20px;
    padding-top: 40px;
    font-weight: 700;
  }
  #about .h1 {
    padding-left: 20px;
    font-size: 30px;
  }
  #about .p {
    padding-top: 10px;
    padding-left: 20px;
  }

  /*----------------------------------- products1---------------------- */
  #products1 {
    margin-top: 100px;
  }
  #products1 .parti2 .card {
    width: 80%;
    margin: 0 auto;
    z-index: -1;
  }
  #products1 .img-fluid {
    width: 100%;
    height: 500px;
  }
  #products1 .parti1 .col-12 {
    display: flex;
    justify-content: end;
  }
  #products1 .parti1 .card {
    width: 500px;
    height: 200px;
    padding: 20px 0;
    position: relative;
    top: 100px;
  }
  #products1 .parti1 h5 {
    padding: 20px 20px 0 40px;
  }
  #products1 .parti1 h1 {
    padding: 0px 20px 0 40px;
  }
  #products1 .parti3 .col-12 {
    display: flex;
    justify-content: start;
  }
  #products1 .parti3 .card {
    width: 30%;
    padding: 20px 20px 0 20px;
    text-align: center;

    position: relative;
    bottom: 100px;
    z-index: 1000;
  }
  #products1 .parti3 p {
    font-size: 18px;
    font-weight: 700;
  }
  /*-------------------- store----------- */
  #store1 .para {
    width: 400px;
    height: 350px;
    margin: 0 auto;
    position: relative;
    top: -130px;
  }
  #store1 .h5 {
    padding-left: 20px;
    padding-top: 40px;
    font-weight: 700;
  }
  #store1 .h1 {
    padding-left: 20px;
    font-size: 30px;
  }
  #store1 .p {
    padding-top: 10px;
    padding-left: 20px;
  }
}

@media (max-width: 991px) {
  /*----------------------- header------------------ */

  header h4 {
    display: none;
  }
  header h1 {
    display: none;
  }
  /*----------------------- navbar-------------------- */
  .navbar {
    transform: translateY(0px);
  }
  .navbar .navbar-brand h4 {
    color: wheat;
    opacity: 0.8;
  }

  .navbar .nav-item .nav-link {
    font-size: 20px;
  }

  /* -------------------section Home partie1----------------------- */
  #partie1 {
    margin-top: 0px;
  }
  #partie1 .carte2 {
    margin: 0 auto;
    position: relative;
    top: 0;
  }
  #partie1 .fresh-coffe {
    padding-top: 30px;
    width: 100%;
  }
  #partie1 .carte1 {
    width: 100%;
    margin: 0 auto;
  }
  #partie1 .btn {
    position: absolute;
    bottom: 40px;
    left: 300px;
  }

  /* footer */
  footer h1 {
    font-size: 20px;
  }

  /* -----------------------------Menue ABOUT____________________________________________ */
  #about {
    margin-top: 50px;
  }
  #about .para {
    width: 100%;

    margin: 0 auto;
    position: relative;
    top: 0px;
  }
  #about .h5 {
    padding-left: 20px;
    padding-top: 40px;
    font-weight: 700;
  }
  #about .h1 {
    padding-left: 20px;
    font-size: 30px;
  }
  #about .p {
    padding-top: 10px;
    padding-left: 20px;
    font-size: 20px;
  }
  /* -----------------------------Menue store____________________________________________ */
  #store1 {
    margin-top: 50px;
  }
  #store1 .para {
    width: 100%;

    margin: 0 auto;
    position: relative;
    top: 0px;
  }
  #store1 .h5 {
    padding-left: 20px;
    padding-top: 40px;
    font-weight: 700;
  }
  #store1 .h1 {
    padding-left: 20px;
    font-size: 30px;
  }
  #store1 .p {
    padding-top: 10px;
    padding-left: 20px;
    font-size: 20px;
  }
  /*----------------------------------- products1---------------------- */
  #products1 {
    margin-top: 50px;
  }
  #products1 .parti2 .card {
    width: 100%;
    margin: 0 auto;
  }
  #products1 .img-fluid {
    width: 100%;
    height: 500px;
  }
  #products1 .parti1 .col-12 {
    display: flex;
    justify-content: end;
  }
  #products1 .parti1 .card {
    width: 500px;
    height: 200px;
    padding: 20px 0;
    position: relative;
    top: 0px;
  }
  #products1 .parti1 h5 {
    padding: 20px 20px 0 40px;
  }
  #products1 .parti1 h1 {
    padding: 0px 20px 0 40px;
  }
  #products1 .parti3 .col-12 {
    display: flex;
    justify-content: start;
  }
  #products1 .parti3 .card {
    width: 70%;
    padding: 20px 20px 0 20px;
    text-align: center;

    position: relative;
    bottom: 0px;
  }
  #products1 .parti3 p {
    font-size: 18px;
    font-weight: 700;
  }
}

@media (max-width: 767px) {
  /*----------------------- header------------------ */
  header h4 {
    font-size: 14px;
    font-weight: 700;
    transform: translateY(100px);
  }
  header h1 {
    font-size: 40px;
    transform: translateY(100px);
  }
  /*----------------------- navbar-------------------- */
  .navbar {
    transform: translateY(0px);
  }

  .navbar .nav-item .nav-link {
    font-size: 16px;
  }

  /* -----------------------------Menue ABOUT____________________________________________ */
  #about {
    margin-top: 50px;
  }
  #about .para {
    width: 100%;

    margin: 0 auto;
    position: relative;
    top: 0px;
  }
  #about .h5 {
    padding-left: 20px;
    padding-top: 40px;
    font-weight: 700;
  }
  #about .h1 {
    padding-left: 20px;
    font-size: 30px;
  }
  #about .p {
    padding-top: 10px;
    padding-left: 20px;
    font-size: 20px;
  }

  /* -----------------------------Menue store____________________________________________ */

  #store {
    margin-top: 120px;
  }
  #store .card {
    border: 2px solid rgb(156, 22, 22);
    background-color: rgba(255, 0, 0, 0.466);
    width: 70%;
    margin: 0 auto;
  }
  #store .body-card {
    border-radius: 5px;
    background-color: wheat;
  }
  #store h5 {
    font-weight: 700;
    font-size: 22px;
  }
  #store .grand {
    padding: 0 50px;
  }

  #store .petit {
    border-bottom: 1px solid rgba(245, 162, 84, 0.589);
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }

  #store .petit p {
    font-size: 14px;
  }
  #store .p {
    color: red;
  }

  #store .sous-sous {
    margin-top: 30px;
  }

  #store1 {
    margin-top: 50px;
  }
  #store1 .para {
    width: 100%;

    margin: 0 auto;
    position: relative;
    top: 0px;
  }
  #store1 .h5 {
    padding-left: 20px;
    padding-top: 40px;
    font-weight: 700;
  }
  #store1 .h1 {
    padding-left: 20px;
    font-size: 30px;
  }
  #store1 .p {
    padding-top: 10px;
    padding-left: 20px;
    font-size: 20px;
  }

  /* -------------------section Home partie1----------------------- */
  #partie1 {
    margin-top: 0px;
  }
  #partie1 .carte2 {
    margin: 0 auto;
    position: relative;
    top: 0;
  }
  #partie1 .fresh-coffe {
    padding-top: 30px;
    width: 100%;
  }
  #partie1 .carte1 {
    width: 100%;
    margin: 0 auto;
  }
  #partie1 .btn {
    position: absolute;
    bottom: 40px;
    left: 300px;
  }

  /* footer */
  footer h3 {
    font-size: 18px;
  }
  /*----------------------------------- products1---------------------- */
  #products1 {
    margin-top: 50px;
  }
  #products1 .parti2 .card {
    width: 100%;
    margin: 0 auto;
  }
  #products1 .img-fluid {
    width: 100%;
    height: 500px;
  }
  #products1 .parti1 .col-12 {
    display: flex;
    justify-content: end;
  }
  #products1 .parti1 .card {
    width: 550px;
    height: 150px;
    padding: 20px 0;
    position: relative;
    top: 0px;
  }
  #products1 .parti1 h5 {
    padding: 15px 20px 0 60px;
  }
  #products1 .parti1 h1 {
    padding: 0px 20px 0 60px;
  }
  #products1 .parti3 .col-12 {
    display: flex;
    justify-content: start;
  }
  #products1 .parti3 .card {
    width: 100%;
    padding: 20px 20px 0 20px;
    text-align: center;

    position: relative;
    bottom: 0px;
  }
  #products1 .parti3 p {
    font-size: 18px;
    font-weight: 700;
  }
}

@media (max-width: 576px) {
  /* -------------------section Home partie1----------------------- */
  #partie1 {
    margin-top: 0px;
  }
  #partie1 .carte2 {
    margin: 0 auto;
    position: relative;
    top: 0;
  }
  #partie1 .fresh-coffe {
    padding-top: 30px;
    width: 100%;
  }
  #partie1 .carte1 {
    width: 100%;
    margin: 0 auto;
  }
  #partie1 .btn {
    position: absolute;
    bottom: 20px;
    left: 220px;
  }

  /* -----------------------------Menue ABOUT____________________________________________ */
  #about {
    margin-top: 50px;
  }
  #about .para {
    width: 100%;

    margin: 0 auto;
    position: relative;
    top: 0px;
  }
  #about .h5 {
    padding-left: 20px;
    padding-top: 40px;
    font-weight: 700;
  }
  #about .h1 {
    padding-left: 20px;
    font-size: 30px;
  }
  #about .p {
    padding-top: 10px;
    padding-left: 20px;
    font-size: 20px;
  }

  /* -----------------------------Menue store____________________________________________ */
  #store {
    margin-top: 120px;
  }
  #store .card {
    border: 2px solid rgb(156, 22, 22);
    background-color: rgba(255, 0, 0, 0.466);
    width: 70%;
    margin: 0 auto;
  }
  #store .body-card {
    border-radius: 5px;
    background-color: wheat;
  }
  #store h5 {
    font-weight: 700;
    font-size: 22px;
  }
  #store .grand {
    padding: 0 30px;
  }

  #store .petit {
    border-bottom: 1px solid rgba(245, 162, 84, 0.589);
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }

  #store .petit p {
    font-size: 12px;
  }
  #store .p {
    color: red;
  }

  #store .sous-sous {
    margin-top: 30px;
  }

  #store1 {
    margin-top: 50px;
  }
  #store1 .para {
    width: 100%;

    margin: 0 auto;
    position: relative;
    top: 0px;
  }
  #store1 .h5 {
    padding-left: 20px;
    padding-top: 40px;
    font-weight: 700;
  }
  #store1 .h1 {
    padding-left: 20px;
    font-size: 30px;
  }
  #store1 .p {
    padding-top: 10px;
    padding-left: 20px;
    font-size: 20px;
  }
  /*----------------------------------- products1---------------------- */
  #products1 {
    margin-top: 50px;
  }
  #products1 .parti2 .card {
    width: 100%;
    margin: 0 auto;
  }
  #products1 .img-fluid {
    width: 100%;
    height: 500px;
  }
  #products1 .parti1 .col-12 {
    display: flex;
    justify-content: end;
  }
  #products1 .parti1 .card {
    width: 550px;
    height: 150px;
    padding: 20px 0;
    position: relative;
    top: 0px;
  }
  #products1 .parti1 h5 {
    padding: 15px 20px 0 60px;
  }
  #products1 .parti1 h1 {
    padding: 0px 20px 0 60px;
  }
  #products1 .parti3 .col-12 {
    display: flex;
    justify-content: start;
  }
  #products1 .parti3 .card {
    width: 100%;
    padding: 20px 20px 0 20px;
    text-align: center;

    position: relative;
    bottom: 0px;
  }
  #products1 .parti3 p {
    font-size: 18px;
    font-weight: 700;
  }
}

@media (max-width: 490px) {
  /*-------------------home partie1-----------------  */
  #partie1 {
    margin-top: 0px;
  }
  #partie1 .carte2 {
    margin: 0 auto;
    position: relative;
    top: 0;
  }
  #partie1 .fresh-coffe {
    padding-top: 30px;
    width: 100%;
  }
  #partie1 .carte1 {
    width: 100%;
    margin: 0 auto;
  }
  #partie1 .btn {
    position: absolute;
    bottom: 10px;
    left: 120px;
  }

  /*-----------------ABOUT------------------------------------- */
  #about {
    margin-top: 50px;
  }
  #about .para {
    width: 100%;

    margin: 0 auto;
    position: relative;
    top: 0px;
  }
  #about .h5 {
    padding-left: 20px;
    padding-top: 40px;
    font-weight: 700;
  }
  #about .h1 {
    padding-left: 20px;
    font-size: 30px;
  }
  #about .p {
    padding-top: 10px;
    padding-left: 20px;
    font-size: 16px;
  }
  /*-----------------------store------------------------------- */
  #store {
    margin-top: 120px;
  }
  #store .card {
    border: 2px solid rgb(156, 22, 22);
    background-color: rgba(255, 0, 0, 0.466);
    width: 70%;
    margin: 0 auto;
  }
  #store .body-card {
    border-radius: 5px;
    background-color: wheat;
  }
  #store h5 {
    font-weight: 700;
    font-size: 22px;
  }
  #store .grand {
    padding: 0 0px;
  }

  #store .petit {
    border-bottom: 1px solid rgba(245, 162, 84, 0.589);
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }

  #store .petit p {
    font-size: 10px;
  }
  #store .p {
    color: red;
  }

  #store .sous-sous {
    margin-top: 30px;
  }

  #store1 {
    margin-top: 50px;
  }
  #store1 .para {
    width: 100%;

    margin: 0 auto;
    position: relative;
    top: 0px;
  }
  #store1 .h5 {
    padding-left: 20px;
    padding-top: 40px;
    font-weight: 700;
  }
  #store1 .h1 {
    padding-left: 20px;
    font-size: 30px;
  }
  #store1 .p {
    padding-top: 10px;
    padding-left: 20px;
    font-size: 16px;
  }
}

@media (max-width: 410px) {
  /* -------------------section Home partie1----------------------- */

  #partie1 {
    margin-top: 0px;
  }
  #partie1 .carte2 {
    margin: 0 auto;
    position: relative;
    top: 0;
  }
  #partie1 .fresh-coffe {
    padding-top: 30px;
    width: 100%;
  }
  #partie1 .carte1 {
    width: 100%;
    margin: 0 auto;
  }
  #partie1 .btn {
    position: absolute;
    bottom: 5px;
    left: 120px;
  }

  /* -----------------------------Menue ABOUT____________________________________________ */
  #about {
    margin-top: 50px;
  }
  #about .para {
    width: 100%;

    margin: 0 auto;
    position: relative;
    top: 0px;
  }
  #about .h5 {
    padding-left: 20px;
    padding-top: 40px;
    font-weight: 700;
  }
  #about .h1 {
    padding-left: 20px;
    font-size: 30px;
  }
  #about .p {
    padding-top: 10px;
    padding-left: 20px;
    font-size: 12px;
  }

  /* -----------------------------Menue STORE____________________________________________ */
  #store1 {
    margin-top: 50px;
  }
  #store1 .para {
    width: 100%;

    margin: 0 auto;
    position: relative;
    top: 0px;
  }
  #store1 .h5 {
    padding-left: 20px;
    padding-top: 40px;
    font-weight: 700;
  }
  #store1 .h1 {
    padding-left: 20px;
    font-size: 30px;
  }
  #store1 .p {
    padding-top: 10px;
    padding-left: 20px;
    font-size: 12px;
  }

  .navbar {
    transform: translateY(0px);
  }
}

@media (max-width: 375px) {
  .navbar {
    transform: translateY(0px);
  }
}
