* {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: "Times New Roman", Times, serif;
  background: url(/images/rose.webp);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
/*----------------------- header------------------ */
header h4 {
  color: red;
  font-weight: 700;
}
header h1 {
  color: white;
  font-size: 80px;
}
/*----------------------- navbar-------------------- */
.navbar {
  transform: translateY(50px);
  background-color: brown;
  padding: 30px 0;
}
.navbar .navbar-brand h4 {
  color: wheat;
  opacity: 0;
}
.navbar .nav-item {
  margin: 0 20px;
}
.navbar .nav-item .nav-link {
  position: relative;
  font-size: 20px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}
.nav-item .nav-link::after {
  position: absolute;
  content: "";
  left: 0;
  width: 0;
  height: 2px;
  background-color: wheat;
  transition: 0.3s;
  bottom: 0;
}
.nav-item .nav-link.active::after,
.nav-item .nav-link:hover:after {
  width: 100%;
}
.nav-item .nav-link.nav-link.active,
.nav-item .nav-link:hover::after {
  color: white;
}

/* -------------------section Home partie1----------------------- */

#partie1 {
  margin-top: 150px;
}
#partie1 .carte1 {
  background-color: transparent;
  border: none;
  border-radius: 20px;
}
#partie1 .img-fluid {
  border-radius: 5px;
}
#partie1 .carte2 {
  background-color: transparent;
  border: none;
}

#partie1 .fresh-coffe {
  background-color: rgb(247, 173, 125);
  border-radius: 10px;
}
#partie1 .btn {
  font-size: 20px;
}
#partie1 .h6 {
  font-weight: bold;
}

/*------------------------- partie2----------------- */
#partie2 {
  background-color: rgba(255, 0, 0, 0.603);
  margin-top: 50px;
}
#partie2 .card {
  border-color: wheat;
  background-color: rgba(255, 0, 0, 0.466);
}
#partie2 .body-card {
  background-color: wheat;
}
#partie2 .h5 {
  font-weight: 700;
}
#partie2 .pa {
  font-size: 18px;
}
/* -----------------------------Menue ABOUT____________________________________________ */
#about {
  margin-top: 150px;
}

#about .para {
  background-color: rgb(247, 173, 125);
  border-radius: 10px;
}
#about .col-12 {
  margin-top: 10px;
}
#about .h5 {
  font-weight: 700;
}

/*----------------------------------- products1---------------------- */
#products1 {
  margin-top: 100px;
}
#products1 .parti1 .card {
  background-color: rgb(247, 173, 125);
}
#products1 .parti1 h5 {
  font-weight: 700;
}

#products1 .parti3 .card {
  background-color: rgb(247, 173, 125);
}
#products1 .parti3 p {
  font-weight: 700;
}

/*--------------------------- menu STORE------------------------- */
#store {
  background-color: rgba(255, 0, 0, 0.603);
  margin-top: 120px;
}
#store .card {
  border: 2px solid rgb(156, 22, 22);
  background-color: rgba(255, 0, 0, 0.466);
  width: 70%;
  margin: 0 auto;
}
#store .body-card {
  border-radius: 5px;
  background-color: wheat;
}
#store h5 {
  font-weight: 700;
  font-size: 22px;
}

#store .grand {
  padding: 0 100px;
}
#store .petit {
  border-bottom: 1px solid rgba(245, 162, 84, 0.589);
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

#store .p {
  color: red;
}
#store .sous {
  margin-top: 30px;
}

#store .sous-sous {
  margin-top: 30px;
}
#store h4 {
  font-weight: 600;
}

#store1 {
  margin-top: 150px;
}

#store1 .para {
  background-color: rgb(247, 173, 125);
  border-radius: 10px;
}
#store1 .col-12 {
  margin-top: 10px;
}
#store1 .h5 {
  font-weight: 700;
}

/*----------------------footer----------------------------  */
footer .row {
  background-color: rgb(32, 5, 5);
  margin-top: 100px;
}
footer h3 {
  color: white;
}
